VITE_TMDB_READ_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMzllODYyMmY1N2RlMTJiMzUwNjZhNmE3YjA3OGFjNCIsIm5iZiI6MTcyMzI3NDk5Ni45NTgzNDEsInN1YiI6IjU4N2Y5YTIyYzNhMzY4NTRlNDAwMGZiOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._gYj6UY9nxBctJMlloas_FS3UQFaw_H89KwAokFq8sw
VITE_OPENSEARCH_ENABLED=true

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=https://sudo-proxy-1.pages.dev

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173
